
.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style:
}

.shadow {
    box-shadow: 0 30px 38px rgba(0, 0, 0, 0.9);
}

html {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    margin: 0;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0, 0, 0, 0.4);
}

.panel-heading {
    background-color: #515151;
}

/*.font {
    font-family: 'Roboto', sans-serif;
    color:#6eb38c;
}*/

.underline {
    text-decoration: underline;
 
}


.home {
    position: relative;
    padding-top: 19%;
    padding-left: 5%;
    color: #ffffff;
}

#top {
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Austin.jpg);
    background-repeat: no-repeat;
    outline-style: solid;
    outline-color: #515151;
    background-size: cover;
}

#page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.times {
    min-height: 45vh;

}
.times2 {
    min-height: 10vh;
 
}
.space {
    padding-top:4vh;

}


.allDay {


opacity:0;
}


.round {
    border-radius: 25px;
}


.fadeInBlock {
    opacity: 0;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.fadeInBlock2 {
    opacity: 0;
}

.morning {
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    border: none;
}

.afternoon {
    background-image: url(../images/tourist.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    border: none;
}

.night {
    background-image: url(../images/concert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    border: none;
}

#page2 {
    min-height: 100vh;
    background-image: url(../images/la.jpg);
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-bottom-style: solid;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}

.btn-danger {
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 1.0);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 1.0);
    border-radius: 0;
}

.map {
    margin-top: 5%;
    margin-left: 3%;
    max-height: 60%;
    max-width: 50%;
}



#map {
    height: 0%;
    display: none;
    width: 0%;
    visibility: hidden;
}

#map2 {
    height: 60vh;
    width: 50vw;
    margin-left: 1%;
    position: absolute;
}

.buttons {
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 20vh;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  /*padding: 80px 50px;*/
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-decoration:none;
}

 .insetshadow {
    color: #d9534f;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
  }

.panel a {

  text-decoration: none; /* no underline */

}

.row2 {
    padding-top: 1%;
    padding-left:46.2%;
 padding-bottom: 1%
}


